.correct {	color : #32CD32;
			text-decoration : none !important;}

.incorrect {color : red;
			text-decoration : none !important;}
			
a.correct:hover {color : #32CD32;}
a.incorrect:hover {color : red;}